html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    max-height: max-content;
    
    min-height: 100vh;
}


.logo{
    width: 250px;
    height: 100px;
    margin-top: -20px;
    margin-left: -40px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin-top: -69px;
    margin-left: 500px;
}
nav{
    font-size: 25px;
    padding-right: 10px;
    
}
.nav:hover{
    color: #ffcc00;
    pointer-events: painted;
    cursor: pointer;
}
.nav a:visited{
    color: whitesmoke;

}
.login{
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 420px;
    background-color: black;
    color: antiquewhite;
    border-style: hidden;
}
.login:hover{
    color: #ffcc00;
    cursor: pointer;
}


.wallpaper{
    display: grid;
    width: 1330px;
    height: 480px;
    margin-top: 30px;
}


#tour{
    
    background-color: rgb(0, 0, 0); 
}
.text1{
    color: antiquewhite;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
    line-height: 2;
}
.text1:hover{
    color: #ffcc00;
}
.text2:hover{
    color: #ffcc00;
}
.img3{
    width: 600px;
    height: 600px;
    padding-left: 350px;
}
.text2{
    color: antiquewhite;
    text-align: center;
    font-size: 20px;
    padding-top: 70px;
    font-style: bold;
}
.tour1{
    width: 600px;
    height: 800px;
    padding-left: 350px;
}
.tour2{
    height: 800px;
    width: 512px;
    padding-left: 400px;
}

#media{
    height: 1050px;
}
.title{
    color: #ffcc00;
    text-align: left;
    margin-bottom: 15px;
}
.title2{
    color: #ffcc00;
    text-align: center;
}

.photos{
    height:220px ;
    width: 400px;
    margin: 20px;
    
}

#column{
    column-count: 2;
    column-gap: 60px;
}
.spotify{
    width: 40%;
    height: 100px;
    padding-left: 190px;
    
    
    
}

#news{
    height: 800px;
    margin-top: 100px;
}
#column-news{
    column-count: 2;
    column-gap: 5px;
    column-rule-color: black;
    column-rule-style: solid;
}

.titre-news{
    color: antiquewhite;
}
.titre-news:hover{
    color: #ffcc00;
    
}

.flyer-news{
    height: 587px;
    width: 480px;
    margin-left: 85px;
    margin-top: 25px;
}
.text-news{
    color: antiquewhite;
    text-align: left;
    font-style: inherit;
    font-size: 20px;
    line-height: 1.5;
}

.date-news{
    color: darkgrey;
    font-size: 18px;
    text-shadow: 2px 2px yellow;
}
/*store*/
#store-header{
    
    height: 500px;
}
#search{
    
    justify-content: space-around;
}
.search-store{
    border: none;
    width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: black;
  
}
.btn-search{
    background-color: yellow;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.logo-store{
    height: 300px;
    width: 400px;
    margin-left: 35%;
}
.store-cart{
    background-color: yellow;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 91%;
    
}


.nav-store{
    display: flex;
    justify-content: center;
    
    margin-top: 5px;
}
.navs{
    color: antiquewhite;
}

#apparel{
    
    height: 800px;
    margin-top: 50px;
}
.shirts{
    width: 300px;
    height: 320px;
    margin-right: 20px;
    margin-left: 10px;
    padding-top: 35px;
}
#music{
    
    height: 800px;
    margin-top: 50px;
}
.cd{
    width: 300px;
    height: 320px;
    margin-right: 20px;
    margin-left: 10px;
    padding-top: 35px;

}
#accessories{
    
    height: 800px;
    margin-top: 50px;
}
.access{
    width: 300px;
    height: 320px;
    margin-right: 20px;
    margin-left: 10px;
    padding-top: 35px;

}
footer{
    height: 200px;
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100%;
    margin-bottom: 0px;
}


#icons {
        border: 0px;
        justify-content: space-around;
        height: 30px;
        width: 100px;
        margin-bottom: 40px;
        margin-top: 40px;
        margin-left: 47%;  
        font-size: 25px;
        
        flex-direction: row;
        
}
#icons:hover{
    color: #ffcc00;
    cursor: pointer;
}
svg {
    width: 25px;
    height: 25px;
    fill: yellow;
    
}
#copyright {
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-style: inherit;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30%;  
    margin-right: 30%;

}
#copyright:hover{
    color: #ffcc00;
}