body {
    background-color: black;
}

#icons {
        border: 0px;
        background-color: black;
        float: right;
        display: block;
        align-items: right;
        justify-content: space-around;
        list-style: none;
        margin: 0px;
        padding: 0px;
        font-size: 3px;
        fill: #ffcc00;
        flex-direction: row;

}
svg {
    width: 15px;
    height: 15px;
}
#copyright {
    color: antiquewhite;
    text-align: center;
    
}
